<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.splitter.cli</string>
  <key>CFBundleName</key>
  <string>Splitter</string>
  <key>NSScreenCaptureUsageDescription</key>
  <string>Splitter captures system audio output so it can be streamed to your other computer.</string>
</dict>
</plist>
